APP_NAME="On The Go"
NODE_ENV=development
PORT=3000

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=otg_db
DB_USERNAME=root
DB_PASSWORD=

# Security
JWT_SECRET=your_jwt_secret_key_here
ENCRYPTION_KEY=00112233445566778899aabbccddeeff00112233445566778899aabbccddeeff

# Email (Nodemailer)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_ADDRESS=noreply@example.com
EMAIL_PASSWORD=your_email_password

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=your_bucket_name


# Upload Provider (aws or cloudinary)
UPLOAD_PROVIDER=aws

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Payment (Paystack)
PAYSTACK_SECRET_KEY=your_paystack_secret_key
PAYSTACK_BASE_URL=https://api.paystack.co

# Frontend
FRONTEND_URL=http://localhost:3000

# Mikrotik
MIKROTIK_CLOUD_BASE_API=
